.o-mobile-carouselitem {
  height: 101px;
  position: relative;
  max-height: 101px;
}

.o-mobile-carouselitem__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
}

.o-mobile-carouselitem__content.selected {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #0070c9;
}

.o-mobile-carouselitem__image {
  margin-left: auto;
  margin-right: auto;
  max-height: 55px;
  object-fit: scale-down;
}

.o-mobile-carouselitem__headline {
  margin-top: 2px;
  text-align: center;
  font-size: 8.5px;
}