.c-mobile-shelf.visible {
  height: calc(100vh - 55px);
  min-height: calc(100vh - 55px);
  position: absolute;
  z-index: 600;
  opacity: 1;
  background-color: white;
  width: 100%;
}

.c-mobile-shelf.invisible {
  display: none;
}

.c-mobile-shelf__header {
  display: inline-block;

  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #0070c9;

  color: white;
  text-align: center;
}

.c-mobile-shelf__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}